# Coursera Capstone

In [2]:
import io
import requests
import pandas as pd
import numpy as np

In [14]:
website_url = "https://en.wikipedia.org/wiki/List_of_colleges_and_universities_in_Rhode_Island"

In [20]:
universities = pd.read_html(website_url,header =0, flavor='bs4', )[0]

In [18]:
universities

,School,Location(s)[2],Affiliation[2],Type[2][a],Enrollment[b](2016),Founded
0,Brown University,Providence,Private,Doctoral university,9781,1764[3]
1,Bryant University,Smithfield,Private,Master's university,3698,1863[4]
2,Community College of Rhode Island,6 locations,Public,Associate's college,15101,1964[5]
3,Johnson & Wales University,Providence,Private,Master's university,"9,324[c]",1914[6]
4,Naval War College,Newport,Public(Federal),Master's university[d],562[7][e],1884[8]
5,New England Institute of Technology,East Greenwich,Private,Baccalaureate/associate's college,2962,1940[9]
6,Providence College,Providence,Private(Catholic),Master's university,4568,1917[10]
7,Rhode Island College,Providence,Public,Master's university,8446,1854[11]
8,Rhode Island School of Design,Providence,Private,School of art,2477,1877[12]
9,Roger Williams University,Bristol,Private,Master's university,"5,624[f]",1956[13]
10,Salve Regina University,Newport,Private(Catholic),Master's university,2746,1934[14]
11,University of Rhode Island,Kingston,Public,Doctoral university,17822,1892[15]

In [21]:
universities.rename(columns={'Location(s)[2]':'Location','Affiliation[2]':'Affiliation'},inplace=True)
universities.rename(columns={'Type[2][a]':'Type','Enrollment[b](2016)':'Enrollment(2016)'},inplace=True)
universities.head()

,School,Location,Affiliation,Type,Enrollment(2016),Founded
0,Brown University,Providence,Private,Doctoral university,9781,1764[3]
1,Bryant University,Smithfield,Private,Master's university,3698,1863[4]
2,Community College of Rhode Island,6 locations,Public,Associate's college,15101,1964[5]
3,Johnson & Wales University,Providence,Private,Master's university,"9,324[c]",1914[6]
4,Naval War College,Newport,Public(Federal),Master's university[d],562[7][e],1884[8]